div {
    margin: 10px;
}

#button-container * {
    margin: 5px;
}

#popup-message {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
}

#popup-message * {
    color: black;
    background-color: white;
}

#button-container input {
    width: 50px;
}